<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulário de Livro</title>
</head>
<body>
    <h1>Formulário de Livro</h1>
    <form th:action="@{(livro.id == null) ? '/livros/adicionar' : '/livros/editar/' + livro.id}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Código do Livro:</label>
        <input type="text" th:field="*{codigoLivro}" />
        <br/>
        <label>Título:</label>
        <input type="text" th:field="*{titulo}" />
        <br/>
        <label>Autor:</label>
        <input type="text" th:field="*{autor}" />
        <br/>
        <label>ISBN:</label>
        <input type="text" th:field="*{isbn}" />
        <br/>
        <label>Editora:</label>
        <input type="text" th:field="*{editora}" />
        <br/>
        <input type="submit" value="Salvar" />
    </form>
</body>
</html>
